{% extends "template.html" %}
{% block content %}

    <div class="container-fluid marketing" style="background:#AD1D28;border-top:thick solid #E18A07;padding-top:0px;padding-bottom:5px">
        <h2 style="color:#D3D3D3">Contact Us</h2>

        <address style="color:#D3D3D3">
            <strong>Golden Chopsticks</strong><br>
            102 New Street<br />
            Musselburgh<br />
            EH21 6JQ<br />
            Tel: 0131 665 5100<br />
        </address>

        <address style="color:#D3D3D3">
            <strong>Opening hours</strong><br>
            <!--Lunch 12:00 - 2:30pm<br />-->
            Evening 4:30pm - 10:30pm<br />
        </address>

        <div id="map_canvas_large" class="hidden-xs" style="margin-bottom:15px"></div>
        <div id="map_canvas_mobile" class="visible-xs-block" style="margin-bottom:15px"></div>
    </div>

{% endblock %}