{% extends "template.html" %}
{% block content %}

    <div class="container-fluid marketing" style="background:#AD1D28;border-top:thick solid #E18A07">
        <h3 style="color:#D3D3D3">Gallery</h3>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-1.jpg" title="Hot and Sour Soup"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-1_thumb.jpg" alt="Hot and Sour Soup" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-2.jpg" title="Wun Tun Soup"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-2_thumb.jpg" alt="Wun Tun Soup" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-3.jpg" title="Chicken Skewers with Satay Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-3_thumb.jpg" alt="Chicken Skewers with Satay Sauce" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-4.jpg" title="Sesame Prawn on Toast"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-4_thumb.jpg" alt="Sesame Prawn on Toast" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-5.jpg" title="Spare Ribs"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-5_thumb.jpg" alt="Spare Ribs" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-6.jpg" title="Salt and Chilli Chicken Wings"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-6_thumb.jpg" alt="Salt and Chilli Chicken Wings" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-7.jpg" title="King Prawn Skewers"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-7_thumb.jpg" alt="King Prawn Skewers" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-8.jpg" title="Aromatic Crispy Duck"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-8_thumb.jpg" alt="Aromatic Crispy Duck" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-9.jpg" title="Dry Hotpot Baby Chicken"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-9_thumb.jpg" alt="Dry Hotpot Baby Chicken" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-10.jpg" title="Sesame Shredded Chicken"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-10_thumb.jpg" alt="Sesame Shredded Chicken" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-11.jpg" title="Shredded Beef in Szechuan Pepper and Chilli Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-11_thumb.jpg" alt="Shredded Beef in Szechuan Pepper and Chilli Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-12.jpg" title="Spicy Lamb with Jeera"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-12_thumb.jpg" alt="Spicy Lamb with Jeera" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-13.jpg" title="Salt and Chilli Chips"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-13_thumb.jpg" alt="Salt and Chilli Chips" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-14.jpg" title="Har Kou Prawn Dumpling"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-14_thumb.jpg" alt="Har Kou Prawn Dumpling" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-15.jpg" title="Steamed Chinese Dumplings"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-15_thumb.jpg" alt="Steamed Chinese Dumplings" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-16.jpg" title="Golden Crispy Bun"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-16_thumb.jpg" alt="Golden Crispy Bun" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-17.jpg" title="Thai Red Curry Beef"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-17_thumb.jpg" alt="Thai Red Curry Beef" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-18.jpg" title="Jacket Prawn"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-18_thumb.jpg" alt="Jacket Prawn" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-19.jpg" title="Wakame Seaweed Salad"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-19_thumb.jpg" alt="Wakame Seaweed Salad" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-20.jpg" title="Deep Fried Chicken"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-20_thumb.jpg" alt="Deep Fried Chicken" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-21.jpg" title="Japanese Vegetable Dumpling"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-21_thumb.jpg" alt="Japanese Vegetable Dumpling" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-22.jpg" title="Sweet and Sour Chicken"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-22_thumb.jpg" alt="Sweet and Sour Chicken" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-23.jpg" title="Kung Po Chicken"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-23_thumb.jpg" alt="Kung Po Chicken" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-24.jpg" title="Chicken in Plum Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-24_thumb.jpg" alt="Chicken in Plum Sauce" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-25.jpg" title="Chicken with Honey and Chilli Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-25_thumb.jpg" alt="Chicken with Honey and Chilli Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-26.jpg" title="Chicken with Orange Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-26_thumb.jpg" alt="Chicken with Orange Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-27.jpg" title="Fried Chicken in Batter"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-27_thumb.jpg" alt="Fried Chicken in Batter" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-28.jpg" title="Beef with Black Bean Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-28_thumb.jpg" alt="Beef with Black Bean Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-29.jpg" title="Beef with Mushrooms"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-29_thumb.jpg" alt="Beef with Mushrooms" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-30.jpg" title="King Prawn in Lychee Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-30_thumb.jpg" alt="King Prawn in Lychee Sauce" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-31.jpg" title="Duck with Plum Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-31_thumb.jpg" alt="Duck with Plum Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-32.jpg" title="Pak Choi with Oyster Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-32_thumb.jpg" alt="Pak Choi with Oyster Sauce" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-33.jpg" title="Stir- Fried Seafood Udon Noodles"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-33_thumb.jpg" alt="Stir- Fried Seafood Udon Noodles" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-34.jpg" title="Salt and Chilli Tofu"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-34_thumb.jpg" alt="Salt and Chilli Tofu" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-35.jpg" title="King Prawn Egg Foo Young"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-35_thumb.jpg" alt="King Prawn Egg Foo Young" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-36.jpg" title="Singapore Rice Noodles"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-36_thumb.jpg" alt="Singapore Rice Noodles" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-37.jpg" title="King Prawn Omelette"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-37_thumb.jpg" alt="King Prawn Omelette" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-38.jpg" title="Special Crispy Noodles"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-38_thumb.jpg" alt="Special Crispy Noodles" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-39.jpg" title="Spicy Chicken Chow Mein"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-39_thumb.jpg" alt="Spicy Chicken Chow Mein" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-40.jpg" title="Chicken Fried Rice"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-40_thumb.jpg" alt="Chicken Fried Rice" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-41.jpg" title="Stir-Fried Chicken Noodles"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-41_thumb.jpg" alt="Stir-Fried Chicken Noodles" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-42.jpg" title="Stir-Fried Ho Fun with Beef"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-42_thumb.jpg" alt="Stir-Fried Ho Fun with Beef" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-43.jpg" title="Yang Chow Fried Rice"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-43_thumb.jpg" alt="Yang Chow Fried Rice" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-44.jpg" title="Pineapple Fritters"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-44_thumb.jpg" alt="Pineapple Fritters" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-45.jpg" title="Lobster with Orange Sauce"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-45_thumb.jpg" alt="Lobster with Orange Sauce" /></a></p>
                </div>
                <div class="row">
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-46.jpg" title="Mixed Platter For 2 Person"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-46_thumb.jpg" alt="Mixed Platter For 2 Person" /></a></p>
                    <p class="col-sm-4"><a class="group1" href="../static/images/gallery/Goldenchopsticksphotosforweb-47.jpg" title="Scallop with Garlic & Silk Noodle"><img src="../static/images/gallery/Goldenchopsticksphotosforweb-47_thumb.jpg" alt="Scallop with Garlic & Silk Noodle" /></a></p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}